<div class='panel panel-default'>
  <div class='panel-heading'><i class='glyphicon glyphicon-signal'></i>Radio Stations</div>
  <table class='table'>
    <thead>
      <tr>
        <th>Site</th><th>Program</th><th>Genre</th><th>URL</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='station in stations | filter:q' ng-click='tune($index)'>
        <td>{{station.site}}</td><td>{{station.program}}</td><td>{{station.genre}}</td><td>{{station.url}}</td>
      </tr>
    </tbody>
  </table>
</div>
